body {
    display: grid;
    grid-template-columns: 1fr;
    height: 1080px;
    grid-template-rows: 1fr 1fr 2fr 3fr;
}

h2 {
    font-size: 1.5em;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}

h3 {
    font-size: 0.9em;
    letter-spacing: 0.5px;
    font-family: 'Open Sans', sans-serif;
}

p {
    font-size: 0.8em;
    font-family: 'Open Sans', sans-serif;
}
nav {
    grid-column: 1;
    grid-row: 1;
    background-color: yellow;
}

nav ul {
    margin: 3% 10%;
    display: grid;
    grid-template-columns: 4fr 1fr 1fr 1fr;
}

nav ul li:first-child{
    grid-column: 1;
}

nav ul li {
    cursor: pointer;
}


.section-main {
    grid-column: 1;
    grid-row: 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: yellow;
}

.section-main div {
    grid-column: 1;
    width: 70%;
    margin: 0 10%;    
}
    .section-main div h2 {
        margin-top: 12%;
    }
    .section-main div h3 {
        color: rgba(0, 0, 0, 0.8);
    }

    .section-main div p {
        color: rgba(0, 0, 0, 0.6)

    }
    .section-main div h2, .section-main div h3, .section-main div p  {
        text-align: justify;
        margin-bottom: 10px;
    }

    .section-main div ul {
        display: flex; 
    }

    .section-main div ul li {
        padding-right: 20px;
    }

    .fab {
        font-size: 140%;
    }
.section-main div.img-icon {
    grid-column: 2;
    width: 100%;
    margin-left: 5%;    
}

.img-icon i {
    font-size: 1600%;
}

.section-features {
    background-color: white;
    grid-column: 1;
    grid-row: 3;
}

.section-features h2 {
    margin-top: 5%;
    text-align: center;
}

.section-features h3.subtitle {
    margin: 1% auto;
    color: rgba(0, 0, 0, 0.8);
    text-align: center;
    width: 50%;
}

.section-features p {
    color: rgba(0, 0, 0, 0.6);
}

.section-features ul {
    display: flex;
    flex-wrap: wrap;
    margin-left: 15%;
    margin-top: 5%;
    margin-bottom: 2%;
}

.section-features ul li{
    width: 30%;
    margin: 0 auto;
}

.section-features ul li i.fas {
    font-size: 150%;
}

.section-features ul li > h3 {
    font-weight: bold;
    margin-bottom: 2%;
    color: rgba(0, 0, 0, 0.6);
}
.section-features ul li > p {
    width: 50%;
    margin-top: 5%;
    margin-bottom: 10%;  
}

.section-contactus {
    background-color: black;
    color: yellow;
    grid-column: 1;
    grid-row: 4;
}


    .section-contactus div:first-child h2 {
        text-align: center;
        margin-top: 3%;
    }

    .section-contactus div:first-child h3 {
        margin: 0 auto;
        text-align: center;
        width: 40%;
        margin-top: 1%;
        color: rgba(255, 255, 255, 0.4);
    }

    .section-contactus form {
        text-align: center;
        margin-top: 2%;
        height: 100%;
    }
        .section-contactus form input {
            width: 30%;
            height: 30px;
            border-radius: 5px;
        }
        .section-contactus form button {
            height: 35px;
            width: 60px;
            background-color: yellow;
            border-radius: 5px;
        }
        .section-contactus div.social-icons {
            height: 100%;
        }
            .section-contactus div.social-icons ul {
            width: 8%;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            margin-top: 3%;
            margin-bottom: 5%;
            }

footer {
    grid-column: 1;
    grid-row: 5;
    background-color: black;
    color: rgba(255, 255, 255, 1);
}

footer ul.list-info {
    display: flex;
    justify-content: space-between;
    font-family: 'Open Sans', sans-serif;
    margin: 8%;
}
footer ul li ul li{
    cursor: pointer
}
@media only screen and (max-width: 768px){
    body {
        margin: 0;
    } 
    nav ul {
        margin: 0;
        display: grid;
        grid-template-columns: 1fr;
        background-color: yellow;
    } 

    nav ul li {
        text-align: center;
        width: 100%;
        border:1px solid rgba(0,0,0,0.2);
        height: 50px;
        line-height: 50px;
    }

    .section-main {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .section-main div {
        margin: 0; 
    }

    .section-main div h2, .section-main div h3, .section-main div p {
        text-align: center;
    }

    .section-main div ul {
        margin-left: 40%;
    }
    .section-main div:first-child {
        grid-row: 1;
        grid-column: 1;
        width: 100%;    
    }
    .section-main div.img-icon {
        grid-row: 2;
        grid-column: 1;
        width: 100%;    
    }

    .section-main div.img-icon {
        margin: 0;
    }

    .section-main div.img-icon i {
        margin-left: 18%;
    }
    .section-features h3.subtitle {
        width: 80%;
        margin-top: 2%;
    }
    .section-features ul {
        flex-direction: column;
        text-align: center;
        margin-left: 0;
        margin-top: 10%;
    }
    .section-features ul li{
        width: 100%;
    }

    .section-features ul li > p {
        width: 50%;
        margin: 0 auto;
        margin-bottom: 5%;
    }
    footer ul.list-info {
        flex-direction: column;
        text-align: center;
    }
    footer ul.list-info li ul li {
        margin-top: 2%;
    }
}